@using CareNet_System.Models;
@model List<Department>;


@{
    <h1 style="color:blue"> Departments of CareNet Hospital  </h1>
    <a href="/Department/NewDept"> Add new Department</a>
    
    <table class="table table-bordered table-hover">
        <tr>
            <th> Id</th>
            <th> Name</th>
            <th> Manager </th>
            <th>Number of Patients</th>
            <th>Number of Employees</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Id</td>
                <td>@item.name</td>
                <td> @item.manager</td>
                <td>@item.Patients_num</td>
                <td>@item.employees_num</td>
                <td><a href="/Department/Edit/@item.Id"> Edit</a> </td>
                <td><a href="/Department/Delete/@item.Id" onclick="return confirm('Are you sure you want to permenantly delete @item.name department ?')" style="color:red"> Remove</a> </td>

            </tr>

        }
    </table>
}
