@model IEnumerable<CareNet_System.Models.Department>
@attribute [Authorize]

@{
    ViewData["Title"] = "Index";
}

<h1>All Departments</h1>

<form method="get" asp-action="Index" class="mb-3">
    <div class="row">
        <div class="col-md-4">
            <label for="managerFilter">Filter by Manager</label>
            <select name="managerFilter" class="form-control" asp-items="ViewBag.ManagerList">
                <option value="">-- Select Manager --</option>
            </select>
        </div>


        <div class="col-md-4 mt-4">
            <button type="submit" class="btn btn-primary">Filter</button>
            <a asp-action="Index" class="btn btn-secondary">Reset</a>
        </div>
    </div>
</form>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.name)</th>
            <th>@Html.DisplayNameFor(model => model.manager)</th>
            <th>@Html.DisplayNameFor(model => model.Patients_num)</th>
            <th>@Html.DisplayNameFor(model => model.employees_num)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.name)</td>
                <td>@Html.DisplayFor(modelItem => item.manager)</td>
                <td>@Html.DisplayFor(modelItem => item.Patients_num)</td>
                <td>@Html.DisplayFor(modelItem => item.employees_num)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>